In [148]:
import pandas as pd

invoices = pd.read_csv('fct_invoice.csv')
invoices

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...
99452,I219422,2344,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,172,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,425,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,577,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,30,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

invoices = pd.read_csv('fct_invoice.csv')
customers = pd.read_json('dim_customer.json')

In [25]:
customers.rename(columns={"id":"customer_id"})
merged = pd.merge(invoices,customers,left_on="customer_id",right_on="id")
merged['total'] = merged['quantity'] * merged['price']
age_above_45 = merged[merged['age'] > 45]
age_above_45['total']
sum(age_above_45['total'])

82039768.14999601