In [148]:
import pandas as pd

invoices = pd.read_csv('fct_invoice.csv')
invoices

,invoice_no,customer_id,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,229,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,3433,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,644,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,4900,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,1089,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...
99452,I219422,2344,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,172,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,425,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,577,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,30,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

0          5/8/2022
1        12/12/2021
2         9/11/2021
3        16/05/2021
4        24/10/2021
            ...
99452    21/09/2022
99453    22/09/2021
99454    28/03/2021
99455    16/03/2021
99456    15/10/2022
Name: invoice_date, Length: 99457, dtype: object

In [1]:
def relationship_status(from_member, to_member, social_graph):
    '''Relationship Status.
    20 points.

    Let us pretend that you are building a new app.
    Your app supports social media functionality, which means that users can have
    relationships with other users.

    There are two guidelines for describing relationships on this social media app:
    1. Any user can follow any other user.
    2. If two users follow each other, they are considered friends.

    This function describes the relationship that two users have with each other.

    Please see "assignment-4-sample-data.py" for sample data. The social graph
    will adhere to the same pattern.

    Parameters
    ----------
    from_member: str
        the subject member
    to_member: str
        the object member
    social_graph: dict
        the relationship data

    Returns
    -------
    str
        "follower" if fromMember follows toMember,
        "followed by" if fromMember is followed by toMember,
        "friends" if fromMember and toMember follow each other,
        "no relationship" if neither fromMember nor toMember follow each other.
    '''
    # Replace `pass` with your code.
    # Stay within the function. Only use the parameters as input. The function should return your answer.

    if from_member in social_graph:
        if from_member in social_graph.get(to_member, {}).get('following', []):
            if to_member in social_graph.get(from_member, {}).get('following', []):
                return "friends"
            else:
                return "followed by"
    elif to_member in social_graph.get(from_member, {}).get('following', []):
        return "follower"
    else:
        return "no relationship"

In [10]:
relationship_status("@joaquin", "@joeilagan", {
        "@bongolpoc":{"first_name":"Joselito",
                      "last_name":"Olpoc",
                      "following":[
                      ]
        },
        "@joaquin":  {"first_name":"Joaquin",
                      "last_name":"Gonzales",
                      "following":[
                          "@chums","@jobenilagan"
                      ]
        },
        "@chums" : {"first_name":"Matthew",
                    "last_name":"Uy",
                    "following":[
                        "@bongolpoc","@miketan","@rudyang","@joeilagan"
                    ]
        },
        "@jobenilagan":{"first_name":"Joben",
                       "last_name":"Ilagan",
                       "following":[
                        "@eeebeee","@joeilagan","@chums","@joaquin"
                       ]
        },
        "@joeilagan":{"first_name":"Joe",
                      "last_name":"Ilagan",
                      "following":[
                        "@eeebeee","@jobenilagan","@chums"
                      ]
        },
        "@eeebeee":  {"first_name":"Elizabeth",
                      "last_name":"Ilagan",
                      "following":[
                        "@jobenilagan","@joeilagan"
                      ]
        },
    })